.form-field {
	margin-bottom: 1rem;
}
.form-field__label {
  display: block;
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
  color: var(--gray);
}

.form-input {
  display: inline-block;
  width: 100%;
  font: inherit;
  padding: 0.5rem 0.66rem;
  border-radius: var(--radius-sm);
  border: 1px solid rgba(var(--dark-rgb), 0.1);
  outline: none;
  transition: var(--transition-duration);
}
.form-input:focus {
  border-color: transparent;
  box-shadow: 0 0 0 2px var(--dark) inset;
}
