.form-field {
	margin-bottom: 1rem;
}
.form-field__label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-input {
  display: inline-block;
  width: 100%;
  font: inherit;
  padding: var(--control-padding);
  border-radius: var(--radius);
  border: 1px solid rgba(var(--black-rgb), 0.1);
  outline: none;
  transition: 200ms;
}
.form-input:focus {
  border-color: transparent;
  box-shadow: 0 0 0 2px var(--black) inset;
}

.button {
  font: inherit;
  padding: var(--control-padding);
  background-color: var(--black);
  color: white;
  border: 0;
  border-radius: var(--radius);
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1.25rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.button:hover,
.button:focus {
  opacity: 0.75
}
.button:active {
  opacity: 0.5;
}