html {
  height: 100%;
}
body {
  background-color: var(--light);
  color: var(--dark);
  height: 100%;
  margin: 0;
  font-family: var(--font-sans-serif);
  line-height: 1.25;
}
#app {
  height: 100%;
  padding: 0.5rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  font-weight: 400;
}
a {
  color: rgb(133, 106, 89)
}
