:root {
  --light: #f3f1eb;
  --muted: #9c9894;
  --dark: #3a332d;
  --dark-rgb: 58, 51, 45;
  --gray: #666;

  --font-serif: Merriweather, Georgia, Times, 'Times New Roman', serif;
  --font-sans-serif: Nunito, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --radius: 0.5rem;
  --radius-sm: 0.25rem;
  --radius-pill: 5rem;
  --box-shadow: 0 1px 1px rgba(var(--dark-rgb), 0.25), 0 3px 5px rgba(var(--dark-rgb), 0.1);
  --separator-color: rgba(var(--dark-rgb), 0.08);
  --transition-duration: 200ms;
}
